.nav-link.active {
    color: #fbbf24; /* Tailwind's amber-400 */
}

.nav-link.active .nav-underline {
    width: 100%;
}

.nav-underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fbbf24; /* Tailwind's amber-400 */
    transition: width 0.3s ease;
}